<!doctype html>
<html>
	<head>
		<title>A healty life</title>

		<nav class="mobilescreen">
  <div title="Menu" id="menuToggle">

    <input type="checkbox">
      <span></span>
      <span></span>
      <span></span>
       <ul id="menu">
        <li>
          <a href="https://floating-ravine-96581.herokuapp.com/items/212">Blogpost1
          </a>
         </li>
         <li><a href="https://floating-ravine-96581.herokuapp.com/items/352">Blogpost2
             </a
         </li>
         <li><a href="https://floating-ravine-96581.herokuapp.com/items/198">Blogpost3
				 </a><li>
					<a href="https://floating-ravine-96581.herokuapp.com/items/535">Blogpost4
					</a>
         </li>
            <li>
             <a href="https://floating-ravine-96581.herokuapp.com/items/535">Blogpost4
             </a>
						 </li>
						 <li><a href="https://floating-ravine-96581.herokuapp.com/items/210">Blogpost5
						 </a>
        </ul>
    </div>
</nav>
	<link rel="stylesheet" type="text/css" href="/css/reset.css">
		<link rel="stylesheet" type="text/css" href="/css/styles.css">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
